{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <p class="cart__empty-subheader">Check out some of our best sellers</p>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
          </div>
          {%- assign best_sellers_collection = collections['best-sellers'] -%}
          {%- if best_sellers_collection == blank -%}
            {%- assign best_sellers_collection = collections['best sellers'] -%}
          {%- endif -%}
          {%- if best_sellers_collection == blank -%}
            {%- assign best_sellers_collection = collections['featured-products'] -%}
          {%- endif -%}
          
          {%- if best_sellers_collection != blank -%}
            <div class="cart-drawer__best-sellers">
              <ul class="cart-drawer__best-sellers-grid" role="list">
                {%- for product in best_sellers_collection.products limit: 4 -%}
                  <li class="cart-drawer__best-sellers-item">
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: 'portrait',
                      show_secondary_image: false,
                      show_vendor: false,
                      show_rating: false,
                      lazy_load: false
                    %}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">Your Cart</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      
      {%- comment -%} Free Shipping Progress Bar {%- endcomment -%}
      {%- unless cart == empty -%}
        {%- assign free_shipping_threshold = 5000 -%}
        {%- assign free_shipping_threshold_dollars = free_shipping_threshold | divided_by: 100 -%}
        {%- assign cart_total = cart.total_price -%}
        {%- assign amount_remaining = free_shipping_threshold | minus: cart_total -%}
        {%- assign progress_percentage_times_100 = cart_total | times: 100 -%}
        {%- assign progress_percentage = progress_percentage_times_100 | divided_by: free_shipping_threshold -%}
        {%- if progress_percentage > 100 -%}
          {%- assign progress_percentage = 100 -%}
        {%- endif -%}
        {%- if progress_percentage < 0 -%}
          {%- assign progress_percentage = 0 -%}
        {%- endif -%}
        
        {%- if cart_total < free_shipping_threshold -%}
        <div class="free-shipping-progress">
          <div class="free-shipping-progress__message">
            You're {{ amount_remaining | money }} away from <span class="free-shipping-progress__highlight">Free Shipping</span>
          </div>
          <div class="free-shipping-progress__bar-container">
            <div 
              class="free-shipping-progress__bar" 
              role="presentation"
            >
              <div class="free-shipping-progress__bar-fill" style="width: {{ progress_percentage }}% !important; min-width: 1px;"></div>
            </div>
            <div class="free-shipping-progress__labels" aria-hidden="false">
              <span><span class="visually-hidden">Starting point towards Free Shipping</span>$0</span>
              <span><span class="visually-hidden">amount required for Free Shipping</span>${{ free_shipping_threshold_dollars }}</span>
            </div>
          </div>
        </div>
      {%- else -%}
        <div class="free-shipping-progress">
          <div class="free-shipping-progress__message">
            <span class="free-shipping-progress__highlight">You qualified for Free Shipping!</span>
          </div>
          <div class="free-shipping-progress__bar-container">
            <div 
              class="free-shipping-progress__bar free-shipping-progress__bar--complete" 
              role="presentation"
            >
              <div class="free-shipping-progress__bar-fill" style="width: 100%;"></div>
            </div>
            <div class="free-shipping-progress__labels" aria-hidden="false">
              <span><span class="visually-hidden">Starting point towards Free Shipping</span>$0</span>
              <span><span class="visually-hidden">amount required for Free Shipping</span>${{ free_shipping_threshold_dollars }}</span>
            </div>
          </div>
        </div>
        {%- endif -%}
      {%- endunless -%}
      
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <div class="cart-items">
                    {%- for item in cart.items -%}
                    <div
                        id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                      class="cart-item Stack Stack--distributionLeading Stack--spacingLoose{% if item.parent_relationship.parent != null %} cart-item__nested-line{% endif %}"
                        {% if item.parent_relationship.parent != null %}
                          aria-label="{{- 'products.product.nested_label' | t: title: item.product.title, parent_title: item.parent_relationship.parent.title | escape -}}"
                        {% endif %}
                      >
                      <div class="Stack__item cart-item__media">
                          {% if item.image %}
                          <div class="cart-item__image-wrapper">
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          </div>
                          {% endif %}
                      </div>

                      <div class="Stack__item Stack__item--fill cart-item__details">
                        <div class="cart-item__product-heading">
                          <div class="cart-item__product-title-and-variant">
                            <h3 class="cart-item__name h4 break">
                              <a href="{{ item.url }}" class="cart-item__name-link">
                            {{- item.product.title | escape -}}
                          </a>
                            </h3>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                <div class="cart-item__option product-option">
                                  <span class="cart-item__option-category">{{ option.name }}: </span>
                                  <span class="cart-item__option-value">{{ option.value }}</span>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}
                            {%- if item.properties.size > 0 -%}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="cart-item__property product-option">
                                    <span class="cart-item__property-name">{{ property.first }}: </span>
                                    <span class="cart-item__property-value">
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </span>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            {%- endif -%}
                            {%- if item.selling_plan_allocation != null -%}
                              <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                            {%- endif -%}
                          </div>
                          <div class="cart-item__delete-button">
                            <cart-remove-button
                              id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <button
                                type="button"
                                class="button button--tertiary cart-remove-button"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                data-variant-id="{{ item.variant.id }}"
                                {% if item.instructions and item.instructions.can_remove == false %}
                                  class="hidden"
                                {% endif %}
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-remove.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </cart-remove-button>
                          </div>
                        </div>

                        <div class="cart-item__details-spacer"></div>

                        <div class="Stack Stack--distributionEqualSpacing Stack--alignmentCenter">
                          <div class="Stack__item">
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button
                                    class="quantity__button"
                                    name="minus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <button
                                    class="quantity__button"
                                    name="plus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              </div>
                              {%- if has_qty_rules or has_vol_pricing -%}
                                <button
                                  type="button"
                                  class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                  aria-expanded="false"
                                >
                                  <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                          </div>
                          <div class="Stack__item cart-item__price-container">
                            {%- render 'loading-spinner' -%}
                            <div class="cart-item__price-wrapper">
                              {%- if item.original_line_price != item.final_line_price -%}
                                <div class="cart-item__discounted-prices">
                                  <span class="cart-item__old-price price">
                                    {{ item.original_line_price | money }}
                                  </span>
                                  <span class="price">
                                    {{ item.final_line_price | money }}
                                  </span>
                                </div>
                              {%- else -%}
                                <span class="price">
                                  {{ item.original_line_price | money }}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.available and item.unit_price_measurement -%}
                                {% render 'unit-price', price: item.unit_price, measurement: item.unit_price_measurement %}
                              {%- endif -%}
                            </div>
                          </div>
                        </div>

                        <!-- Hidden totals for JavaScript calculations -->
                        <div class="cart-item__totals right" style="display: none;">
                          {%- render 'loading-spinner' -%}
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}
                            {%- if item.variant.available and item.unit_price_measurement -%}
                              {% render 'unit-price', price: item.unit_price, measurement: item.unit_price_measurement %}
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                    </div>
                    {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <h2 class="totals__total">
              Subtotal 
              {% if cart.item_count == 1 %}
                (1 item)
              {% else %}
                ({{ cart.item_count }} items)
              {% endif %}
            </h2>
            <p class="totals__total-value">{{ cart.total_price | money }}</p>
          </div>

          <small class="tax-note caption-large rte">
            {%- assign free_shipping_threshold_check = 5000 -%}
            {%- assign cart_total_for_shipping_check = cart.total_price -%}
            {%- if cart_total_for_shipping_check >= free_shipping_threshold_check -%}
              {%- comment -%} Free shipping qualified - remove "and shipping" from text {%- endcomment -%}
              {%- if cart.duties_included and cart.taxes_included -%}
                {%- if shop.shipping_policy.body == blank -%}
                  Duties and taxes included. Discounts calculated at checkout
                {%- else -%}
                  Duties and taxes included. Discounts calculated at checkout
                {%- endif -%}
              {%- elsif cart.duties_included == false and cart.taxes_included -%}
                {%- if shop.shipping_policy.body == blank -%}
                  Taxes included. Discounts calculated at checkout
                {%- else -%}
                  Taxes included. Discounts calculated at checkout
                {%- endif -%}
              {%- elsif cart.duties_included and cart.taxes_included == false -%}
                {%- if shop.shipping_policy.body == blank -%}
                  Duties included. Taxes and discounts calculated at checkout
                {%- else -%}
                  Duties included. Taxes and discounts calculated at checkout
                {%- endif -%}
              {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
                {%- if shop.shipping_policy.body == blank -%}
                  Taxes and discounts calculated at checkout
                {%- else -%}
                  Taxes and discounts calculated at checkout
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- comment -%} Normal text with shipping {%- endcomment -%}
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
